/* =======================================================
*
* 	@IMPORT SCSS
*
* ======================================================= */

@import "main";

/* =======================================================
*
* 	HOMEPAGE STYLE
*
* ======================================================= */

body, html{
}

#slider{
    padding-left: 0;
    padding-right: 0;

    .slide{
        height: 100vh;

        .carousel-inner{
            height: 100%;

            .item{
                height: 100%;

                > .mask{
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                }

                .carousel-caption{
                    top: 60%;
                    left: 15%;

                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);

                    text-align: left;

                    .big-title{
                        h4.subtitle{
                            font-weight: 400;
                            font-size: 1em;
                        }

                        h1.title{
                            font-weight: 700;
                            font-size: 3em;

                            max-width: 60%;
                        }
                    }
                }
            }
        }

        .slider-background{
            width: 100%;
            height: 100%;

            position: absolute;
            top: 0;
            left: 0;

            background-image: url("../img/bg-slider.png");
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: bottom center;

        }
    }
}

.section{

    .slider {
        display: block;

        margin-left: -15px;
        margin-right: -15px;

        .carousel-inner{
            margin-left: -15px;
            margin-right: -15px;
            width: auto;

            overflow: visible;

            .item{
                margin-bottom: 30px;

                .inner{
                    height: 640px;
                    padding: 15px;

                    &.cover{
                        .mask{
                            width: 100%;
                            height: 100%;
                            overflow: hidden;

                            position: relative;

                            border-radius: 7px;

                            .overlay{
                                width: 100%;
                                height: 60%;

                                position: absolute;
                                top: 40%;
                                left: 0;

                                background: rgba(0,0,0,0);
                                background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 28%, rgba(0,0,0,1) 100%);
                                background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(28%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));
                                background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 28%, rgba(0,0,0,1) 100%);
                                background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 28%, rgba(0,0,0,1) 100%);
                                background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 28%, rgba(0,0,0,1) 100%);
                                background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 28%, rgba(0,0,0,1) 100%);
                                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );

                                padding: 30px;

                                h1{
                                    font-size: 2.5em;
                                    font-weight: 700;

                                    color: #fff;
                                }

                                p{
                                    font-size: 1em;

                                    color: #fff;

                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    line-height: 1.5;
                                    height: 7.5em;
                                    -webkit-line-clamp: 5;
                                    -webkit-box-orient: vertical;
                                }
                            }
                        }

                        &:hover{
                            -webkit-box-shadow: none;
                            -moz-box-shadow: none;
                            box-shadow: none;
                        }
                    }

                    .wrapper{
                        background-color: #fff;

                        @include transition(500ms);

                        .mask{
                            width: 100%;
                            height: 250px;
                            //overflow: hidden;
                        }

                        .head{
                            padding-left: 15px;
                            padding-right: 15px;

                            h4.post-subtitle{
                                padding: 7px 15px;
                                background-color: $primary;
                                color: $gray;

                                height: auto;

                                border-radius: 4px;

                                display: inline-block;

                                margin-bottom: 15px;
                            }

                            h2.post-title{
                                font-weight: 700;

                                margin-top: 0;
                            }
                        }

                        .body{
                            color: $gray-light;

                            padding-left: 15px;
                            padding-right: 15px;
                        }

                        .foot{
                            padding-left: 15px;
                            padding-right: 15px;
                        }
                    }


                    &:hover{
                        .wrapper{
                            -webkit-box-shadow:  0px 4px 15px rgba(0, 0, 0, 0.5);
                            -moz-box-shadow:  0px 4px 15px rgba(0, 0, 0, 0.5);
                            box-shadow:  0px 4px 15px rgba(0, 0, 0, 0.5);

                            @include transition(500ms);
                        }
                    }
                }

            }
        }

        .slider-control{
            .carousel-control{
                background-image: none;
                width: 10%;

                &.left{
                    top: 0;
                    left: -5%;

                    i{
                        position: absolute;
                        top: 50%;
                        right: 100%;

                        color: #333;
                        opacity: 0;

                        -webkit-transform: translateY(-50%);
                        -moz-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                        transform: translateY(-50%);

                        @include transition(500ms);
                    }

                    &:hover{
                        i{
                            right: 80%;
                            opacity: 1;

                            @include transition(500ms);
                        }
                    }
                }

                &.right{
                    top: 0;
                    right: -5%;

                    i{
                        position: absolute;
                        top: 50%;
                        left: 100%;

                        color: #333;
                        opacity: 0;

                        -webkit-transform: translateY(-50%);
                        -moz-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                        transform: translateY(-50%);

                        @include transition(500ms);
                    }

                    &:hover{
                        i{
                            left: 80%;
                            opacity: 1;

                            @include transition(500ms);
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 992px) {
            #slider-control img {
                padding-top: 70px;
                margin: 0 auto;
            }
        }

        .carousel-showmanymoveone {
            .carousel-control {
                width: 4%;
                background-image: none;
                &.left {
                    margin-left: 5px;
                }
                &.right {
                    margin-right: 5px;
                }
            }
            .cloneditem-1, .cloneditem-2, .cloneditem-3, .cloneditem-4, .cloneditem-5 {
                display: none;
            }
        }

        @media all and (min-width: 768px) {
            .carousel-showmanymoveone .carousel-inner {
                > {
                    .active.left, .prev {
                        left: -50%;
                    }
                    .active.right, .next {
                        left: 50%;
                    }
                    .left, .prev.right, .active {
                        left: 0;
                    }
                }
                .cloneditem-1 {
                    display: block;
                }
            }
        }

        @media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
            .carousel-showmanymoveone .carousel-inner > .item {
                &.active.right, &.next {
                    -webkit-transform: translate3d(50%, 0, 0);
                    transform: translate3d(50%, 0, 0);
                    left: 0;
                }
                &.active.left, &.prev {
                    -webkit-transform: translate3d(-50%, 0, 0);
                    transform: translate3d(-50%, 0, 0);
                    left: 0;
                }
                &.left, &.prev.right, &.active {
                    -webkit-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
                    left: 0;
                }
            }
        }

        @media all and (min-width: 992px) {
            .carousel-showmanymoveone .carousel-inner {
                > {
                    .active.left, .prev {
                        left: -33.33%;
                    }
                    .active.right, .next {
                        left: 33.33%;
                    }
                    .left, .prev.right, .active {
                        left: 0;
                    }
                }
                .cloneditem-2, .cloneditem-3, .cloneditem-4, .cloneditem-5, .cloneditem-6 {
                    display: block;
                }
            }
        }

        @media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
            .carousel-showmanymoveone .carousel-inner > .item {
                &.active.right, &.next {
                    -webkit-transform: translate3d(33.33%, 0, 0);
                    transform: translate3d(33.33%, 0, 0);
                    left: 0;
                }
                &.active.left, &.prev {
                    -webkit-transform: translate3d(-33.33%, 0, 0);
                    transform: translate3d(-33.33%, 0, 0);
                    left: 0;
                }
                &.left, &.prev.right, &.active {
                    -webkit-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
                    left: 0;
                }
            }
        }
    }

    &#tour-intro{
        background-color: #fcfcfc;

        .container{
            .row{
                .left{

                }

                .right{
                    .row{
                        padding-top: 50px;

                        .item{
                            text-align: center;

                            .circle-border{
                                width: 100px;
                                height: 100px;

                                margin: 10px auto;

                                border-radius: 50%;
                                border: 1px solid $gray-light;

                                position: relative;

                                i.fa{
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;

                                    @include makeItCenter;

                                     font-size: 2.5em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.tour-intro{
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: cover;

        .row{
            .btn-default{
                &:hover{
                    background-color: #fafafa;
                    border: 1px solid #e7e7e7;
                }
            }

            .slider-control{
                margin-top: 50px;

                border-bottom: 2px solid #e7e7e7;

                position: relative;

                ul.list-inline{
                    background-color: #fcfcfc;
                    display: inline-block;

                    position: absolute;
                    top: -25px;
                    left: 0;

                    padding-top: 10px;
                }
            }
        }

        &#domestic{
            background-image: url("../img/vietnam.png");
        }

        &#international{
            background-color: #f9efc7;
            background-image: url("../img/global.png");

            .slider-control{

                ul.list-inline{
                    background-color: #FFFAE3;
                }
            }
        }
    }

    &#news{
        .row{
            .item{
                background-color: #fff;

                padding: 15px;

                &:first-of-type{
                    .mask{
                        width: 100%;
                        height: 400px;
                        overflow: hidden;
                    }
                }

                .mask{
                    width: 100%;
                    height: 230px;
                    overflow: hidden;
                }

                .head{
                    padding-left: 15px;
                    padding-right: 15px;

                    h4.post-subtitle{
                        padding: 7px 15px;
                        background-color: $primary;
                        color: $gray;

                        height: auto;

                        border-radius: 4px;

                        display: inline-block;

                        margin-bottom: 15px;
                    }

                    h2.post-title{
                        font-weight: 700;

                        margin-top: 0;
                    }
                }

                .body{
                    color: $gray-light;

                    padding-left: 15px;
                    padding-right: 15px;
                }

                .foot{
                    padding-left: 15px;
                    padding-right: 15px;

                    border-top: 1px solid #eee
                }

                &:first-of-type{
                    .foot{
                        padding-top: 50px;
                    }
                }
            }
        }
    }

    &#gallery{
        background-color: #FFFDF3;

        .row{
            .grid{
                .grid-item, .grid-sizer{
                    width: 25%;
                }

                .grid-item{
                    width: 25%;
                    height: 170px;

                    padding-left: 10px;
                    padding-right: 10px;

                    margin-bottom: 20px;

                    float: left;

                    &.grid-item-width-2{
                        width: 50%;
                    }

                    &.grid-item-height-2{
                        height: 360px;
                    }

                    a{
                        color: #fff;

                        &:hover{
                            color: #fff;
                        }
                    }

                    .mask{
                        width: 100%;
                        height: 100%;
                        overflow: hidden;

                        position: relative;

                        .overlay{
                            width: 100%;
                            height: 100%;

                            position: absolute;
                            top: 0;
                            left: 0;

                            background: rgba(0,0,0,0);
                            background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 28%, rgba(0,0,0,1) 100%);
                            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(28%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));
                            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 28%, rgba(0,0,0,1) 100%);
                            background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 28%, rgba(0,0,0,1) 100%);
                            background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 28%, rgba(0,0,0,1) 100%);
                            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 28%, rgba(0,0,0,1) 100%);
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
                        }

                        .content{
                            width: 100%;

                            position: absolute;
                            bottom: 0;
                            left: 0;

                            padding: 15px;

                            h4.post-subtitle{
                                font-size: 0.875em;

                                color: #fff;
                            }

                            h2.post-title{
                                font-size: 1.5em;
                                font-weight: 700;
                            }
                        }
                    }

                }
            }
        }
    }

    &#shared_corner{
        .row{
            padding-left: 15px;
            padding-right: 15px;

            .item{
                padding-left: 0;
                padding-right: 0;

                a{
                    color: #fff;

                    &:hover{
                        color: #fff;
                    }
                }

                .mask{
                    width: 100%;
                    height: 300px;
                    position: relative;

                    .overlay{
                        width: 100%;
                        height: 100%;

                        position: absolute;
                        top: 0;
                        left: 0;

                        background: rgba(0,0,0,0);
                        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 28%, rgba(0,0,0,1) 100%);
                        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(28%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));
                        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 28%, rgba(0,0,0,1) 100%);
                        background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 28%, rgba(0,0,0,1) 100%);
                        background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 28%, rgba(0,0,0,1) 100%);
                        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 28%, rgba(0,0,0,1) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
                    }

                    .content{
                        width: 100%;

                        position: absolute;
                        bottom: 0;
                        left: 0;

                        padding: 15px;

                        h4.post-subtitle{
                            font-size: 0.875em;

                            color: #fff;
                        }

                        h2.post-title{
                            font-size: 1.5em;
                            font-weight: 700;
                        }
                    }
                }

                &.cover{
                    .mask{
                        h2{
                            position: absolute;
                            bottom: 15px;
                            left: 15px;

                            font-size: 2.5em;
                            font-weight: 700;

                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px){
    #slider{
        .slide{
            .carousel-inner{
                .item{
                    .carousel-caption{
                        .big-title{
                            h4.subtitle{
                                font-weight: 400;
                                font-size: 1em;
                            }

                            h1.title{
                                font-weight: 700;
                                font-size: 2.5em;

                                max-width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    .section{
        &#gallery{
            background-color: #FFFDF3;

            .row{
                .grid{
                    .grid-item, .grid-sizer{
                        width: 50%;
                    }

                    .grid-item{
                        height: 150px;

                        margin-bottom: 0px;

                        float: left;

                        &.grid-item-width-2{
                            width: 50%;
                        }

                        &.grid-item-height-2{
                            height: 150px;
                        }

                    }
                }
            }
        }
    }
}


